@import url(../../../stylesheets/application.css);
/* 
 * colors 
 */
:root {
  --color-black: #252930;
  --color-grey: #e8e9ea;
  --color-white: #ffffff;
  --color-main: #ff5f00;
}
::selection {
  text-shadow: none;
  color: #ffffff;
  background-color: #d2032c;
}
@media screen and (min-width: 1299px) {
  #content {
    padding-left:3.5rem;
    padding-right:1.5rem
  }
}
*, #top-menu a, #header h1, #header a, #admin-menu a, #main-menu li a, .queries a, .contextual a, .buttons a, #projects-index a, input, select, textarea, button, #content .tabs ul li a {
  color: #252930;
}
a, a:link, a:visited, .badge-status-open, div.journal ul.details a, ul.revision-info a, div.journal ul.details a:hover, ul.revision-info a:hover {
  color: #d2032c
}
.badge-status-closed {
  color: #ffffff;
  background-color: #1d781d;
}
.nodata {
  background-color:#fff; border: 1px solid #ccc; color:#252930;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background-color: #d2032c;
}
#sidebar a.selected {
  background-color: #252930;
}
input[type = "submit"], button[type = "submit"], #add_filter_select, #users_form input, #users_form select, #name, #role_id, #tracker_id {
  background-color: #eee;
}
#quick-search #q, #project-jump .drdn-trigger, .drdn-content, #main-menu .menu-children li a, .pagination ul.pages li:first-child, .pagination ul.pages li:last-child,
.badge-status-open, #filters-table input, #filters-table select, #list-definition input, #list-definition select {
  background-color: #eee;
}
.contextual .drdn-items>a {
color:#252930  
}
.contextual .drdn-items>a:hover {
color:#fff; background-color:#252930; 
}
tr.context-menu-selection, tr.context-menu-selection a {
  background-color:#bbb !important; color:#252930 !important;
}
tr.context-menu-selection:hover, tr.context-menu-selection a:hover {
  background-color:#bbb !important; color:#252930 !important;
}
textarea:focus, textarea:active, select:focus, select:active, input:focus, input:active, input:checked {
  border: none !important;
}
div.issue {
  background-color:#fff !important;
  border: 1px solid #ccc !important;
  padding: 1rem;
}
div.issue hr {
  height:1px;
  background-color:#ccc;
}
#history div.journal {
  padding:.5rem;
}
#content h2 {
  font-size:2rem;
  font-weight:300
}
/* 
 * margins 
 */
html, head, body {
  width: 100%;
  height: 100%;
}
nav.navbar {
  padding-left: 2rem;
  padding-right: 2rem
}
main {
  margin: 10rem 2rem 10rem 2rem;
  min-height: 100vh;
}
/* 
 * fonts 
 */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 200;
  src: local('Nunito ExtraLight'), local('Nunito-ExtraLight'), 
url('../fonts/nunito-v14-latin-200.woff2') format('woff2'), 
url('../fonts/nunito-v14-latin-200.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Nunito';
  font-style: italic;
  font-weight: 400;
  src: local('Nunito Italic'), local('Nunito-Italic'), 
url('../fonts/nunito-v14-latin-italic.woff2') format('woff2'), 
url('../fonts/nunito-v14-latin-italic.woff') format('woff');
  font-display: swap;
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local('Nunito Regular'), local('Nunito-Regular'), 
url('../fonts/nunito-v14-latin-regular.woff2') format('woff2'), 
url('../fonts/nunito-v14-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: local('Nunito Bold'), local('Nunito-Bold'), 
url('../fonts/nunito-v14-latin-700.woff2') format('woff2'), 
url('../fonts/nunito-v14-latin-700.woff') format('woff');
}
body, h1, h2, h3, h4, h5, h6,
#projects-index ul.projects div.root a.project {
  font-family: 'Nunito', Helvetica, sans-serif;
}
body {
  font-size: 1rem;
}

#main-menu li a, #sidebar,
#content, #query_form_content {
  font-size: .9rem;
}
div.subject h3 {
  font-size: 1.2rem;
}
/*
 *  borders 
 */
#sidebar, #sidebar a.selected, .badge-status-open, .badge-status-closed, div.issue, .issue-report, .box, input, select, textarea, button, #content .tabs ul li a, #content .tabs ul li a.selected, .jstElements button,
#project-jump .drdn-trigger, .drdn-content, #quick-search #q, .drdn-items > *, #main-menu li a, #main-menu .menu-children.visible, #main-menu .menu-children,
#sidebar a.selected .pagination ul.pages li:first-child, .pagination ul.pages li:last-child, #content .tabs ul, #login-form {
  border-radius: 0;
  border: 0;
}
.jstElements button {
  border-radius: 0 !important;
}
hr {
  height: .05rem;
  background: #fff;
}
.mypage-box {
  border: 1px solid #ccc;
  border-radius: 0 
}
#block-select {
  background-color:#eee;
}
/* 
 * login form
 */
#login-form {
  background-color:inherit;
  border: 1px solid #ccc;
}
#login-form #username, #login-form #password {
  background-color:#eee !important;
}
/* 
 * top menu
 */
#top-menu {
  color: #fff;
  background: #252930;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
#top-menu a {
  font-weight: normal;
  font-size: 0.8rem;
  color: #ffffff;
}
/* 
 * header
 */
#header {
  background: #ffffff url('../images/le-tex_logo.svg') no-repeat 2px;
  background-size: 150px;
  min-height: 8rem;
  background-origin: content-box;
  padding-top: .5rem;
  border-bottom:1px solid #ccc;
}
#header h1 {
  margin-left: 220px;
  padding-top: 38px;
  font-weight: 300;
  font-size: 2.2rem;
}
@media screen and (max-width: 899px) {
  #header {
    background-color:inherit !important;
  }
  #header a.mobile-toggle-button {
    border:none;
  }
  #header a.mobile-toggle-button::after {
    color:#252930;
  }
  #project-jump.drdn {
    padding-left:150px !important;
  }
  #project-jump .drdn-trigger {
    color:#252930 !important;
  }
}
/* 
 * main tab menu
 */
#main-menu {
  bottom:.5rem;
}
#main-menu li {
  padding:0 .5rem 0 0;
  margin:0;
}
#main-menu li a {
}
#main-menu li a.new-object {
  border-radius: 100%;
  background-color: #d2032c;
  color: #fff;
  font-weight: bold;
}
#main-menu li a:hover {
  background: #ccc;
  color: #252930;
}
#main-menu li a.selected,
#main-menu li a.selected:hover {
  background: #d2032c;
  color: #fff;
}
#main-menu .menu-children li a {
  background-color: #eee;
}
#main-menu .menu-children li a:hover, #project-jump .drdn-items>a:hover, .contextual .drdn-items>a:hover {
  color:#252930; background-color: #ccc;
}
@media screen and (max-width: 899px) {
  #project-jump .drdn-trigger:before {
    content:"" !important;
  }
  .flyout-menu, .flyout-menu h3 {
    background-color:#eee !important;
    border:none !important;
  }
  .flyout-menu ul li a, .flyout-menu__avatar a, .flyout-menu h3 {
    color:#252930 !important; font-weight:500;
  }
  .flyout-menu__avatar a, .flyout-menu h3 {
    font-weight:700;
  }
}
.ui-tooltip {
  color:#252930; border:1px solid #ccc; background-color:#eee !important; border-radius:0;
}
/* 
 * mini tab menu
 */
#content .tabs ul {
  padding-left: 0
}
#content .tabs ul li {
  margin-right: .5rem;
  margin-left: 0;
}
#content .tabs ul li a {
  background-color: #fff;
}
#content .tabs ul li a.selected, #content .tabs ul li a.selected:hover { 
  background-color:#252930; color:#fff;
  }
#content .tabs ul li a:hover { 
background-color:#ccc; color:#252930;
}
/* 
 * sidebar
 */
#sidebar {
  background-color: #fff;
  border-left: 1px solid #ccc !important;
}
/* 
 * box
 */
.box, div.issue, table.cal td.today, div.wiki ul.toc, .gantt_subjects div.issue-subject:hover {
  background-color: #eee !important;
}
.issues.box, .spent_time.box, .members.box {
  background-color: #fff; border:1px solid #ccc;
  padding:1rem;
}
#history div:target h4.note-header {
  background-color: #eee;
  padding:.25rem !important;
}
/*
 * news
 */
article.news-article {
  border:1px solid #ccc;
  margin-bottom:1rem;
  padding:1rem;
}
/* 
 * tables 
 */
table.list, .table-list {
  border-radius: 0;
  border: 0;
}
table.list th, .table-list-header {
  background-color: #fff;
  border-top: 1px solid #eee;
}
table.list:not(.odd-even) tbody tr:nth-child(2n+1),
.odd, #issue-changesets div.changeset:nth-child(2n+1) {
  background-color: #eee;
}
table.list:not(.odd-even) tbody tr:nth-child(2n),
.even, #issue-changesets div.changeset:nth-child(2n) {
  background-color: #fff;
}
table.list:not(.odd-even) tbody tr:nth-child(odd):hover,
.odd:hover, #issue-changesets div.changeset:nth-child(odd):hover,
table.list:not(.odd-even) tbody tr:nth-child(even):hover,
.even:hover, #issue-changesets div.changeset:nth-child(even):hover {
  background-color: #ccc;
}
/* 
 * pagination
 */
.pagination ul.pages li.page, .pagination ul.pages li.spacer {
  border:1px solid #eee;
}
.pagination ul.pages li.current {
  background-color: #ccc;
  border:1px solid #ccc;
}
.pagination ul.pages li.page:hover {
  background-color: #eee;
}
.pagination ul.pages li.next, .pagination ul.pages li.previous {
  background-color: #eee;
  border:1px solid #eee;
  border-radius:0;
}
.pagination ul.pages li.page a{
  color:#252930;
}
.pagination ul.pages li.page a:hover,
.pagination ul.pages li.page a:active {
  color:#252930;
  text-decoration: inherit;
}
.badge-count {
  background-color:#252930;
}
/*
 * wiki
 */
div.wiki ul.toc {
  line-height:1rem;
}
div.wiki ul.toc a {
  font-size:.8rem;
}
.wiki h1 {
  font-size:2.8rem;
  font-weight:300;
}
.wiki h2 {
  font-size:2rem !important;
  font-weight:500 !important;
}
.wiki h3 {
  font-size:1.6rem;
  font-weight:500;
}
.wiki h4 {
  font-size:1.2rem;
  font-weight:700;
}
.wiki h5 {
  font-size:1.2rem;
  font-weight:500;
}
.wiki h6 {
  font-size:1.2rem;
  font-weight:normal;
  font-style:italic;
  color:inherit;
}
.wiki h1,
.wiki h2,
.wiki h3,
.wiki h4,
.wiki h5,
.wiki h6 { margin:1.75rem 0 .5rem 0 }
#sidebar h1 {
  font-size:1.7rem;
  font-weight:500;
}
#sidebar h2 {
  font-size:1.5rem !important;
  font-weight:500 !important;
}
#sidebar h3 {
  font-size:1.2rem;
  font-weight:700;
  color:inherit;
}
#sidebar h4 {
  font-size:1rem;
}
#sidebar h5 {
  font-size:1rem;
  font-style:italic;
}
#sidebar h6 {
  font-size:1rem;
}
div.wiki a:target + h1, div.wiki a:target + h2, div.wiki a:target + h3, div.wiki a:target + h4, div.wiki a:target + $
  background-color:#ccc;
}
div.wiki ul.toc a {
  font-size:#252930;
}
div.wiki ul.toc {
  background-color:#eee;
  border:none;
  padding:.75rem
}
div.wiki pre, pre {
  border-radius:0;
  border:1px solid #ccc;
  background-color:#efefef;
}


